[submodule "vim.symlink/vundle"]
	path = vim.symlink/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bin.symlink/z"]
	path = bin.symlink/z
	url = https://github.com/rupa/z.git
[submodule "bin.symlink/resty"]
	path = bin.symlink/resty
	url = https://github.com/micha/resty
[submodule "bin.symlink/zsh-history-substring-search"]
	path = bin.symlink/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "bin.symlink/zsh-syntax-highlighting"]
	path = bin.symlink/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "bin.symlink/git-dude"]
	path = bin.symlink/git-dude
	url = https://github.com/sickill/git-dude.git
[submodule "bin.symlink/todo.txt-cli"]
	path = bin.symlink/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "bin.symlink/git-cr"]
	path = bin.symlink/git-cr
	url = https://github.com/joshdick/git-cr
[submodule "bin.symlink/pytograph"]
	path = bin.symlink/pytograph
	url = git@github.com:joshdick/pytograph.git
