[submodule ".bin/z"]
	path = .bin/z
	url = https://github.com/rupa/z.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = https://github.com/gmarik/vundle.git
[submodule "/Users/Josh/.bin/vimpager"]
	path = .bin/vimpager
	url = https://github.com/rkitover/vimpager
